.products {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: products-appear 1s ease-out forwards;
  }
  
  .products ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .products button {
    font: inherit;
    cursor: pointer;
    background-color: green;
    border: 1px solid green;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    min-width: 8rem;
    height: 3rem;
  }
  
  .products button:hover,
  .products button:active {
    background-color: darkgreen;
    border-color: darkgreen;
  }
  
  @keyframes products-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }